<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Tracker</title>
    </head>
    <body>
        <h1>Covid Tracker App</h1>
        <p>Global Data</p>
        <p>Total Cases: {{ globalCases }}</p>
        <p>Total Deaths: {{ globalDeaths }}</p>
        <p>Total Recoveries: {{ globalRecoveries }}</p>
        <p>Country Data: {{ country }}</p>
        <p>Total Cases: {{ countryCases }}</p>
        <p>Total Deaths: {{ countryDeaths }}</p>
        <p>Total Recoveries: {{ countryRecoveries }}</p>
    </body>
</html>